#searchbox {
    display:flex;
    margin-bottom:30px;
}

#searchbox #noresult {

}

#searchbox button {
    margin-left:5px
}

.btn {
    border-radius:0px
}

#noresult {
    text-align:center;
    padding:2em;
    color:#d0d0d0;
    font-style:italic
}

.counter {
    padding:5px
}

.pgbuttons {
    text-align:right
}

.modal-header {
    background-color:#2196F3;
}

.modal-header h4, .close span {
    color:#fff
}
