{{extend 'layout.html'}}

<div class="container">
    <h2>Web2Py - VueJS scaffold minimal demo app</h2>
    <hr/>
    
    <div class="well row">
	<div id="searchbox">
	    <input  @keyup="query" placeholder="Search..." class="form-control" type="search" v-model="search" autofocus/>
	    <button @click="listAll" class="btn btn-primary btn-lg"><i class="fa fa-list"></i> List all</button>
	    <button class="btn btn-primary btn-lg" @click="manageRecord(0)"><i class="fa fa-plus"> </i> Add record</button>
	</div>
	<div id="resultbox">
	    <div v-if="result.length>0">
		<div class="row">
		    <div class="col-lg-6">
			<p class="counter"><strong>Records found:</strong> ${pagination.items}</p>
		    </div>
		    <div class="col-lg-6 pgbuttons">
			    <button class="btn btn-primary " @click="paginator(pagination.prev)" :disabled="pagination.prev.length==0"><i class="fa fa-arrow-left"></i></button>
			    <button class="btn btn-primary " @click="paginator(pagination.next)" :disabled="pagination.next.length==0"><i class="fa fa-arrow-right"></i></button>
		    </div>
		</div>
		<hr/>
		<table class="table table-hover ">
		    <thead>
			<tr>
			    <th>ID</th>
			    <th>Title</th>
			    <th>Body</th>
			    <th>Edit</th>
			    <th>Delete</th>
			</tr>
		    </thead>
		    <tbody>
			<tr v-for="record in result">
			    <td>${record.id}</td>
			    <td>${record.title}</td>
			    <td>${record.body}</td>
			    <td><button class="btn btn-primary" @click="manageRecord(record.id)"><i class="fa fa-pencil"></i></button></td>
			    <td><button class="btn btn-danger" @click="deleteRecord(record.id)"><i class="fa fa-trash"></i></button></td>			
			</tr>
		    </tbody>
		</table>		
	    </div>
	    <div v-else id="noresult"><h3>No results found...</h3></div>
	</div>
    </div>
    <!-- modal component -->
    <modal v-show="modalData.showModal" @close="closeModal">
	<template slot="title">${modalData.title}</template>
	<template slot="body"><recordform></recordform></template>
    </modal>
</div>

{{block page_js}}
<script src="{{=URL('static','vue/forms.js')}}"></script>
<script src="{{=URL('static','vue/app.js')}}"></script>
{{end page_js}}
